{
    "presets": [
        "env",
       "react"
    
    // for testing only
    //    "@babel/preset-env",
    //     "@babel/preset-react"
    ],
    // to use spread operator in objects
    "plugins": [
        "transform-object-rest-spread"
    ]
}